<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title>{{ title }}</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<script
			crossorigin="anonymous"
			integrity="sha384-avLpk7eChiSgpDvwa4N7hvg9vj6V9sfFmGHurVkPOlWUalASzcO3d2x3qcbQqhsH"
			src="https://twemoji.maxcdn.com/v/13.0.0/twemoji.min.js"
		></script>
		<script src="/js/main.js"></script>
	</head>
	<body>
		<header class="page-header">
			<div class="page-header__topbar">
				<h1 class="page-header__app-title">
					<a href="/">{{ title }}</a>
				</h1>
				<div class="page-header__user-info">
					{% if appState == "User" && userIdentity %}
					<p class="page-header__user-identity">
						<img
							class="page-header__user-photo"
							src="{% if user.microformats.photo %}{{user.microformats.photo}}{%else%}/img/default-profile-photo.png{%endif%}"
							alt="{% if user.microformats.name %}{{user.microformats.name}}{%else%}Author{%endif%}'s photo'" />
						
						<span class="page-header__user-name">
							{% if user.microformats.name %}
							{{user.microformats.name}}
							{% else %}
							{{userIdentity}}
							{% endif %}
						</span>
						
						{% comment %} TODO Dropdown menu to handle user profile page nav with more details, settings (for timezone for example) etc. {% endcomment %}
						<span>(<a href="/logout/">Logout</a>)</span>
					</p>
				</div>
				{% endif %}
			</div>

			<h2 class="page-header__page-title">{{ pageTitle }}</h2>
		</header>
		<nav role="navigation">
			{% include 'navigation' %}
		</nav>
		<main>
			{% block %}{% endblock %}
		</main>
	</body>
</html>
