<header class="page-header">
    <div class="page-header__topbar">
        <h1 class="page-header__page-title">
            {{ pageTitle }}
        </h1>
        {% if appState == "User" && userIdentity %}
        <div class="page-header__user-info">
            <button class="page-header__user-identity">
                <img
                    class="page-header__user-photo"
                    src="{% if user.microformats.photo %}{{user.microformats.photo}}{%else%}/img/default-profile-photo.png{%endif%}"
                    alt="{% if user.microformats.name %}{{user.microformats.name}}{%else%}Author{%endif%}'s photo'" />
                
                <p class="page-header__user-name">
                    {% if user.microformats.name %}
                    {{user.microformats.name}}
                    {% else %}
                    {{userIdentity}}
                    {% endif %}
                </p>
                
            </button>
            <nav class="page-header__user-menu user-menu" role="navigation">
                <a
                    class="user-menu__link"
                    href="/user/profile/"
                >Profile</a>
                <a
                    class="user-menu__link"
                    href="/user/preferences/"
                >Preferences</a>
                <a
                    class="user-menu__link"
                    href="/logout/"
                >Logout</a>
            </nav>
        </div>
        {% endif %}
    </div>
</header>